<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeguen Solutions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleIndex.css">
</head>
<body>

<section id="specialized-services" class="special-showcase-section container" data-aos="fade-up" data-aos-delay="50">
    <div class="intro-section">
        <h2 class="section-title-special text-center">EQUIPAMIENTO ESTRATÉGICO</h2>
        <p class="special-intro text-center">En <strong>JEGUEN SOLUTION</strong>, somos su socio clave para asegurar la máxima competitividad en sus proyectos. Presentamos soluciones de protección personal de alto rendimiento, <strong>diseñadas para superar cualquier obstáculo</strong>. Con nosotros, invierte en <strong>seguridad certificada, durabilidad superior y cumplimiento normativo garantizado</strong>.</p>
    </div>

    <div class="special-items-grid">
        <h2 class="grid-title">NUESTRAS SOLUCIONES DESTACADAS:</h2>
        <a href="/proteccionCivil" class="special-item" data-aos="fade-right" data-aos-delay="150">
            <img src="/img/calzado_industrial.png" alt="calzado_industrial" class="special-item-img">
            <div class="special-item-content">
                <h3>Calzado Industrial <br> para Operaciones Críticas</h3>
                <p>Ofrecemos un <strong>calzado de seguridad</strong> que brinda una protección intransigente para su personal. Fabricado con <strong>materiales de alta especificación y tecnología de punta</strong>, nuestro calzado garantiza una <strong>cobertura total y un confort excepcional</strong>, permitiendo total libertad de movimiento en las condiciones más difíciles.</p>
                <span class="call-to-action">VER ESPECIFICACIONES TÉCNICAS Y CERTIFICACIONES &raquo;</span>
            </div>
        </a>
        <a href="/proteccionCivil" class="special-item" data-aos="fade-left" data-aos-delay="250">
            <img src="/img/chalecos.jpeg" alt="Chalecos para Brigadistas de Alta Visibilidad" class="special-item-img">
            <div class="special-item-content">
                <h3>Chalecos para Brigadistas <br> de Alta Visibilidad Certificada</h3>
                <p>Nuestros chalecos brindan <strong>máxima visibilidad y seguridad activa</strong> para brigadistas y personal en entornos de alto riesgo. <strong>Cumplen con las normativas nacionales e internacionales más rigurosas</strong>, incorporando <strong>materiales reflectantes de calidad premium y diseño ergonómico</strong> para una identificación clara y <strong>protección efectiva en todo momento</strong>.</p>
                <span class="call-to-action">VER ESPECIFICACIONES TÉCNICAS Y CERTIFICACIONES &raquo;</span>
            </div>
        </a>
    </div>
</section>

 <section id="inicio" class="hero-section" data-aos="fade-up">
    <div class="hero-content container">
        <h1 data-aos="fade-right" data-aos-delay="200">JEGUEN SOLUTION</h1>
        <p class="hero-tagline" data-aos="fade-left" data-aos-delay="400">NOS ALINEAMOS A TU SOLUCIÓN</p>
    </div>
</section>

<section id="nosotros" class="about-us-section" data-aos="fade-up" data-aos-delay="100">
    <img src="/img/nosotrosProteccionCivil.jpg" alt="Equipo de Jeguen Solutions" class="background-image">
    <div class="about-content-wrapper">
        <div class="about-text-box" data-aos="fade-right" data-aos-delay="200">
            <h2 class="section-title">Nosotros</h2>
            <p>En JEGUEN SOLUTION, sabemos que tu bienestar y rendimiento dependen de contar con el equipo adecuado. Por eso, nos dedicamos a ofrecer soluciones integrales que te mantienen protegido, visible y cómodo, incluso en las condiciones más extremas.</p>
            <p>Nuestro compromiso es equipar a quienes trabajan incansablemente en brigadas de emergencia, personal operativo y profesionales que realizan tareas al aire libre.</p>
            <p>Brindamos la fiabilidad, seguridad y confianza que necesitas para concentrarte en tu labor esencial. Con JEGUEN SOLUTION, cuentas con el respaldo y la tranquilidad para enfrentar cualquier desafío, sabiendo que tu protección es nuestra prioridad.</p>
        </div>
    </div>
</section>

<section id="filosofia" class="philosophy-section container" data-aos="fade-up" data-aos-delay="200">
    <h2 class="section-title-philosophy text-center">Filosofía</h2>
    <div class="philosophy-grid">
        <div class="philosophy-card"> <img src="/img/mision.jpg" alt="Misión" class="card-image">
            <h3>Misión</h3>
            <ul>
                <li style="text-align: justify">Proveer equipamiento y servicios de vanguardia que aseguren la máxima protección y el desempeño óptimo en entornos críticos. Nos enfocamos en soluciones que cumplen rigurosamente con las especificaciones técnicas más exigentes, ofreciendo confiabilidad, eficacia y durabilidad para cada operación.</li>
            </ul>
        </div>
        <div class="philosophy-card"> <img src="/img/vision.jpg" alt="Visión" class="card-image">
            <h3>Visión</h3>
            <ul>
                <li style="text-align: justify">Ser la empresa referente y líder en México en el suministro de equipamiento especializado, reconocida por nuestra excelencia operativa, la innovación constante en nuestras soluciones y el compromiso inquebrantable con la seguridad y bienestar de quienes protegen a nuestra nación.</li>
            </ul>
        </div>
        <div class="philosophy-card"> <img src="/img/valores.jpg" alt="Valores" class="card-image">
            <h3>Valores</h3>
            <ul>
                <li>Excelencia: Superamos los estándares para tu seguridad.</li>
                <li>Compromiso: Nuestra dedicación a tu protección es inquebrantable.</li>
                <li>Innovación: Buscamos las mejores soluciones.</li>
                <li>Transparencia: Operamos con total honestidad e integridad.</li>
                <li>Responsabilidad social: Contribuimos al bienestar comunitario y al medio ambiente.</li>
            </ul>
        </div>
    </div>
</section>

<section id="servicios" class="services-overview-section container" data-aos="fade-up" data-aos-delay="100">
    <h2 class="section-title-services text-center">SERVICIOS</h2>
    <p class="services-intro text-center">En JEGUEN SOLUTION, somos su aliado estratégico en la provisión de equipamiento de protección personal, asegurando la seguridad y eficiencia de su personal en cualquier circunstancia. Nuestra oferta se distingue por la calidad superior, el cumplimiento normativo y la capacidad de adaptación a las necesidades más exigentes.</p>

    <div class="swiper mySwiper services-carousel">
        <div class="swiper-wrapper">
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/personalizacion.jpeg" alt="Personalización de equipamiento especializado" class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Diseño y Personalización de Equipamiento Especializado</h3>
                </div>
            </a>
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/cascos.jpeg" alt="Equipamiento para protección de cabeza" class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Equipamiento para Protección de Cabeza</h3>
                </div>
            </a>
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/impermeable.jpeg" alt="impermeable" class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Impermeables Tipo Poncho</h3>
                </div>
            </a>
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/chalecos.jpeg" alt="Chalecos" class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Chalecos para Brigadistas</h3>
                </div>
            </a>
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/calzado_industrial2.png" alt="Calzado"| class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Calzado Industrial</h3>
                </div>
            </a>
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/serigrafia.jpeg" alt="Servicio de Personalización Avanzada y Serigrafía Industrial" class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Servicio de Personalización Avanzada y Serigrafía Industrial</h3>
                </div>
            </a>
            <a href="/proteccionCivil" class="swiper-slide service-slide">
                <img src="/img/guantes.jpg" alt="Guantes especializados para diferentes brigadas" class="service-slide-img">
                <div class="service-slide-overlay">
                    <h3>Guantes Especializados para Diferentes Brigadas</h3>
                </div>
            </a>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<section class="commitment-section" data-aos="fade-up">
    <div class="container">
        <h2 class="commitment-title text-center">COMPROMETIDOS CON LA:</h2>
        <div class="commitment-grid">
            <div class="commitment-item" data-aos="zoom-in" data-aos-delay="100">
                <span>Innovación</span>
            </div>
            <div class="separator" data-aos="zoom-in" data-aos-delay="150">|</div> <div class="commitment-item" data-aos="zoom-in" data-aos-delay="200">
                <span>Tecnología</span>
            </div>
            <div class="separator" data-aos="zoom-in" data-aos-delay="250">|</div> <div class="commitment-item" data-aos="zoom-in" data-aos-delay="300">
                <span>Vanguardia</span>
            </div>
            <div class="separator" data-aos="zoom-in" data-aos-delay="350">|</div> <div class="commitment-item" data-aos="zoom-in" data-aos-delay="400">
                <span>Seguridad</span>
            </div>
        </div>
    </div>
</section>

<section class="clients-section container" data-aos="fade-up" data-aos-delay="100">
    <h2 class="section-title-clients text-center">CLIENTES</h2>
    <div class="clients-grid">
        <img src="/img/SEDENA.png" alt="Logo Cliente SEDENA" loading="lazy">
        <img src="/img/DIF HIDALGO.jpeg" alt="Logo Cliente DIF Hidalgo" loading="lazy">
        <img src="/img/LogoDegasa.png" alt="Logo Cliente Bodega Aurrera" loading="lazy">
        <img src="/img/Hospital infantil Mexico.jpg" alt="Logo Cliente Unidades Médicas" loading="lazy">
        <img src="/img/medpol.png" alt="Logo Cliente Medpol" loading="lazy">
        <img src="/img/INPer_logo.jpg" alt="Logo Cliente Infer" loading="lazy">
        <img src="/img/SEYPRO.png" alt="Logo Cliente Instituto Potosino" loading="lazy">
        <img src="/img/DIF MTY.jpeg" alt="Logo Cliente DIF Monterrey" loading="lazy">
        </div>
</section>

<section id="contacto" class="contact-section container" data-aos="fade-up" data-aos-delay="100">
    <h2 class="section-title text-center">CONTÁCTANOS</h2>
    <div class="contact-grid">
        <div class="contact-info-area">
            <h3>Información de Contacto</h3>
            <p><i class="fas fa-map-marker-alt"></i> Ozumba, Estado de México, CP. 56800, México</p>
            <p><i class="fas fa-phone-alt"></i> Teléfono: 55 54625545</p>
            <p><i class="fas fa-envelope"></i> Email: administrativo@jeguen.com </p>
            
            <h3 class="mt-4">Horario de Atención</h3>
            <p>Lunes a Viernes: 9:00 AM - 6:00 PM</p>
            <p>Sábado: 9:00 AM - 1:00 PM</p>
        </div>
        <!-- Nueva sección para la imagen -->
        <div class="contact-image-area">
            <img src="/img/nosotros.jpg" alt="Imagen de Contacto Jeguen Solutions" class="contact-image">
        </div>
    </div>
</section>


<script src="[https://unpkg.com/aos@2.3.1/dist/aos.js](https://unpkg.com/aos@2.3.1/dist/aos.js)"></script>
<script>
    AOS.init();
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
// Asegúrate de que el DOM esté cargado antes de inicializar Swiper
document.addEventListener('DOMContentLoaded', function() {
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1, // Muestra 1 slide por vista en móvil
        spaceBetween: 30, // Espacio entre slides
        loop: true, // Carrusel infinito
        grabCursor: true, // Cambia el cursor para indicar que se puede arrastrar
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        autoplay: {
            delay: 4000, // Cambia de slide cada 4 segundos
            disableOnInteraction: false, // El autoplay no se detiene si el usuario interactúa
        },
        breakpoints: {
            // Cuando la pantalla sea >= 768px
            768: {
                slidesPerView: 3, // Muestra 3 slides por vista
                spaceBetween: 30,
            },
            // Cuando la pantalla sea >= 1024px
            1024: {
                slidesPerView: 4, // Muestra 4 slides por vista
                spaceBetween: 40,
            },
            // Cuando la pantalla sea >= 1200px
            1200: {
                slidesPerView: 5, // Muestra 5 slides por vista
                spaceBetween: 50,
            }
        },
        // Integración con AOS
        on: {
            slideChangeTransitionEnd: function () {
                AOS.refresh(); // Refresca AOS después de cada transición de slide
            }
        }
    });
});
</script>

</body>
</html>